################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release
/Debug
/buildfiles/release-x86_64
/buildfiles/debug-x86_64
*.tlog
